
.card{
    margin-top: 10px;
}

.card-media{
    border: solid 1px black;
}

.card-content{
    border: solid black 1px;
    padding: auto;
}

.botones{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.link-btn{
    text-decoration: none;
    color: black;
}